<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Peer</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="parent">
    <div class="block">
        <h3>Update Peer</h3>
        <form th:action="@{/peers/edit/{nickname}(nickname=${editPeerDto.nickname})}" th:method="post" th:object="${editPeerDto}">
            <div>
                <label for="nickname">Name</label>
                <input type="text" th:field="*{nickname}" id="nickname">
                <br>
                <p th:text="${editPeerDto.birthday}">birthday</p>
                <br>
                <label for="birthday">Birthday</label>
                <input type="text" th:field="*{birthday}" th:value="${editPeerDto.birthday}" id="birthday">
                <br>
                <input type="submit" value="Edit Peer">
            </div>
        </form>
        <div>
            <a href="/peers">Back to list of Peers</a>
        </div>
    </div>
</div>

</body>
</html>