<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add New Peer</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>

<div class="parent">
  <div class="block">
    <h3>New Peer</h3>

    <form th:action="@{/peers/add}" th:method="post" th:object="${newPeerDto}">

      <div th:if="${#fields.hasAnyErrors()}" >
                <span class="validationError">
                    Please correct the problems below and submit again.
                </span>
      </div>

      <div>
        <label for="nickname">Name</label>
        <input type="text" th:field="*{nickname}" id="nickname" placeholder="Nickname">
        <span class="validationError" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error Message</span>
        <br>
        <label for="birthday">Birthday</label>
        <input type="date" th:field="*{birthday}" id="birthday" placeholder="YYYY-MM-DD" th:value="${#temporals.format(newPeerDto.birthday, 'yyyy-MM-dd')}">
        <span class="validationError" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday Error Message</span>
        <br>
        <input type="submit" value="Add Peer">
      </div>

    </form>

    <div>
      <a th:href="@{/peers}">Back to list of Peers</a>
    </div>

  </div>
</div>

</body>
</html>